### Xcode ###
# User-specific settings
xcuserdata/
*.xcuserstate
**/xcuserdata/*
**/UserInterfaceState.xcuserstate

# macOS system files
.DS_Store

# Build artifacts
build/
DerivedData/

# Project files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Debug symbols
*.dSYM
*.dSYM.zip

# Playgrounds
*.xcworkspace
*.xctimeline

# Dependency management
Carthage/Build/
Appetizers.xcodeproj/project.xcworkspace/xcuserdata/romanboyko.xcuserdatad/UserInterfaceState.xcuserstate
