### Xcode ###
# User-specific settings
xcuserdata/
*.xcuserstate

# Build artifacts
build/
DerivedData/

# Project files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Debug symbols
*.dSYM
*.dSYM.zip

# Playgrounds
*.xcworkspace
*.xctimeline

# Dependency management
Carthage/Build/